#full_container{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;	
	background: url("keyboard-bg.jpg");
	background-attachment: fixed;	
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 0px -00px;	
}

#heading{
	font-family: Montserrat;
	font-size: 60px;
}

#text{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
}

#text_container{
    vertical-align: center;
}